

CREATE DATABASE [CarManagementDb]
GO
USE [CarManagementDb]
GO
/****** Object:  Table [dbo].[CarCompany]    Script Date: 10/3/2025 2:37:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarCompany](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CatalogName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ElectricVehicle]    Script Date: 10/3/2025 2:37:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ElectricVehicle](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Model] [nvarchar](100) NOT NULL,
	[Version] [nvarchar](50) NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Specification] [nvarchar](500) NULL,
	[ImageUrl] [nvarchar](200) NULL,
	[Color] [nvarchar](50) NULL,
	[IsActive] [bit] NOT NULL,
	[CarCompanyId] [int] NOT NULL,
	[VehicleCategoryId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 10/3/2025 2:37:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FeedbackType] [nvarchar](50) NOT NULL,
	[Content] [nvarchar](500) NOT NULL,
	[Datetime] [datetime] NOT NULL,
	[UserId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 10/3/2025 2:37:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Datetime] [datetime] NOT NULL,
	[Total] [decimal](18, 2) NOT NULL,
	[PaymentMethod] [nvarchar](50) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](200) NOT NULL,
	[ZipCode] [nvarchar](6) NOT NULL,
	[UserId] [int] NOT NULL,
	[Note] [nvarchar](200) NULL,
	[PromotionId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 10/3/2025 2:37:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Quantity] [int] NOT NULL,
	[TotalPrice] [decimal](18, 2) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ElectricVehicleId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotion]    Script Date: 10/3/2025 2:37:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[Discount] [decimal](5, 2) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 10/3/2025 2:37:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](200) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VehicleCategory]    Script Date: 10/3/2025 2:37:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleCategory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CarCompany] ON 

INSERT [dbo].[CarCompany] ([Id], [CatalogName], [Description], [IsActive]) VALUES (1, N'VinFast', N'Hãng xe điện hàng đầu Việt Nam', 1)
INSERT [dbo].[CarCompany] ([Id], [CatalogName], [Description], [IsActive]) VALUES (2, N'YADEA', N'Thương hiệu xe điện toàn cầu', 1)
INSERT [dbo].[CarCompany] ([Id], [CatalogName], [Description], [IsActive]) VALUES (3, N'Dat Bike', N'Xe điện công nghệ Việt Nam', 1)
SET IDENTITY_INSERT [dbo].[CarCompany] OFF
GO
SET IDENTITY_INSERT [dbo].[ElectricVehicle] ON 

INSERT [dbo].[ElectricVehicle] ([Id], [Model], [Version], [Price], [Specification], [ImageUrl], [Color], [IsActive], [CarCompanyId], [VehicleCategoryId]) VALUES (1, N'VinFast Klara S', N'2022', CAST(369000.00 AS Decimal(18, 2)), NULL, N'https://shop.vinfastauto.com/on/demandware.static/-/Sites-app_vinfast_vn-Library/default/dwce891876/images/PDP-XMD/klaras/img-top-klaras-white-sp.webp', N'Trắng', 1, 1, 3)
INSERT [dbo].[ElectricVehicle] ([Id], [Model], [Version], [Price], [Specification], [ImageUrl], [Color], [IsActive], [CarCompanyId], [VehicleCategoryId]) VALUES (2, N'YADEA VoltGuard', NULL, CAST(300000.00 AS Decimal(18, 2)), NULL, N'https://www.yadea.com.vn/wp-content/uploads/2025/01/Anh-sp-chinh-1200x880-den.png', N'Đen', 1, 2, 1)
INSERT [dbo].[ElectricVehicle] ([Id], [Model], [Version], [Price], [Specification], [ImageUrl], [Color], [IsActive], [CarCompanyId], [VehicleCategoryId]) VALUES (3, N'Dat Bike Weaver++ ', NULL, CAST(547000.00 AS Decimal(18, 2)), NULL, N'https://hdgo.vn/upload/hinh-anh/dat-bike/weaver-plus-plus/xe-dien-dat-bike-weaver-plus-2.jpg', N'Xanh rêu', 1, 3, 1)
SET IDENTITY_INSERT [dbo].[ElectricVehicle] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([Id], [Datetime], [Total], [PaymentMethod], [Status], [Address], [ZipCode], [UserId], [Note], [PromotionId]) VALUES (2, CAST(N'2025-09-27T13:54:45.333' AS DateTime), CAST(59080000.00 AS Decimal(18, 2)), N'Momo', N'Pending', N'254A Nguyễn Văn Linh, Quận 7, TP.HCM', N'700000', 1, N'Giao hàng ngoài giờ hành chính', 1)
INSERT [dbo].[Order] ([Id], [Datetime], [Total], [PaymentMethod], [Status], [Address], [ZipCode], [UserId], [Note], [PromotionId]) VALUES (3, CAST(N'2025-09-27T14:59:30.720' AS DateTime), CAST(60000000.00 AS Decimal(18, 2)), N'Momo', N'SUCCESS', N'No', N'700000', 2, NULL, NULL)
INSERT [dbo].[Order] ([Id], [Datetime], [Total], [PaymentMethod], [Status], [Address], [ZipCode], [UserId], [Note], [PromotionId]) VALUES (4, CAST(N'2025-09-27T15:16:59.653' AS DateTime), CAST(30000000.00 AS Decimal(18, 2)), N'Momo', N'PENDING', N'No', N'700000', 2, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetail] ON 

INSERT [dbo].[OrderDetail] ([Id], [Quantity], [TotalPrice], [OrderId], [ElectricVehicleId]) VALUES (2, 1, CAST(36900000.00 AS Decimal(18, 2)), 2, 1)
INSERT [dbo].[OrderDetail] ([Id], [Quantity], [TotalPrice], [OrderId], [ElectricVehicleId]) VALUES (3, 1, CAST(22180000.00 AS Decimal(18, 2)), 2, 3)
INSERT [dbo].[OrderDetail] ([Id], [Quantity], [TotalPrice], [OrderId], [ElectricVehicleId]) VALUES (4, 2, CAST(60000000.00 AS Decimal(18, 2)), 3, 2)
SET IDENTITY_INSERT [dbo].[OrderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Promotion] ON 

INSERT [dbo].[Promotion] ([Id], [Code], [Description], [Discount], [Status]) VALUES (1, N'AJEKW', N'Giảm 10% khi thanh toán', CAST(10.00 AS Decimal(5, 2)), N'Active')
INSERT [dbo].[Promotion] ([Id], [Code], [Description], [Discount], [Status]) VALUES (2, N'IWUJD', N'Giảm 20 %', CAST(20.00 AS Decimal(5, 2)), N'Active')
INSERT [dbo].[Promotion] ([Id], [Code], [Description], [Discount], [Status]) VALUES (4, N'UIWJS', N'Giảm 30%', CAST(30.00 AS Decimal(5, 2)), N'InActive')
SET IDENTITY_INSERT [dbo].[Promotion] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [Email], [Phone], [FullName], [Password], [Role], [IsActive]) VALUES (1, N'customer@evdealer.com', N'0987654321', N'Nguyễn Văn Khách', N'jZae727K08KaOmKSgOaGzww/XVqGr/PKEgIMkjrcbJI=', N'Customer', 1)
INSERT [dbo].[User] ([Id], [Email], [Phone], [FullName], [Password], [Role], [IsActive]) VALUES (2, N'nthanhn2491@gmail.com', N'0909989876', N'Nam', N'jZae727K08KaOmKSgOaGzww/XVqGr/PKEgIMkjrcbJI=', N'Customer', 1)
INSERT [dbo].[User] ([Id], [Email], [Phone], [FullName], [Password], [Role], [IsActive]) VALUES (3, N'admin@gmail.com', N'0909989871', N'Admin', N'jZae727K08KaOmKSgOaGzww/XVqGr/PKEgIMkjrcbJI=', N'Admin', 1)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[VehicleCategory] ON 

INSERT [dbo].[VehicleCategory] ([Id], [CategoryName], [IsActive]) VALUES (1, N'Xe Máy Điện', 1)
INSERT [dbo].[VehicleCategory] ([Id], [CategoryName], [IsActive]) VALUES (2, N'Xe Đạp Điện', 1)
INSERT [dbo].[VehicleCategory] ([Id], [CategoryName], [IsActive]) VALUES (3, N'Xe Tay Ga Điện', 1)
SET IDENTITY_INSERT [dbo].[VehicleCategory] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Promotio__A25C5AA7D083E97B]    Script Date: 10/3/2025 2:37:25 PM ******/
ALTER TABLE [dbo].[Promotion] ADD UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__A9D10534776536BA]    Script Date: 10/3/2025 2:37:25 PM ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CarCompany] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ElectricVehicle] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Feedback] ADD  DEFAULT (getdate()) FOR [Datetime]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT (getdate()) FOR [Datetime]
GO
ALTER TABLE [dbo].[Promotion] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[VehicleCategory] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ElectricVehicle]  WITH CHECK ADD FOREIGN KEY([CarCompanyId])
REFERENCES [dbo].[CarCompany] ([Id])
GO
ALTER TABLE [dbo].[ElectricVehicle]  WITH CHECK ADD FOREIGN KEY([VehicleCategoryId])
REFERENCES [dbo].[VehicleCategory] ([Id])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([PromotionId])
REFERENCES [dbo].[Promotion] ([Id])
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD FOREIGN KEY([ElectricVehicleId])
REFERENCES [dbo].[ElectricVehicle] ([Id])
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([Id])
GO
