@model int
@{
}

<li class="nav-item">
    <a class="nav-link text-white bg-danger" asp-controller="Cart" asp-action="Index" title="Giỏ hàng">
        <i class="fas fa-shopping-cart"></i>
        @if (Model > 0)
        {
            <span class="badge bg-danger rounded-pill">@Model</span>
        }
        else
        {
            <span class="badge bg-secondary rounded-pill">0</span>
        }
    </a>
</li>
